@media(max-width: 768px) {

  .container {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

section{
  padding:30px;
}

.logo{
  display: none;
}

.logo img{
    display: grid;
    place-items: left;
}


.mobile-menu-icon {
  width: 10%;
  margin-top: 25px;
  overflow: hidden;
}

.nav-toggle{
  width: 5% !important;
  font-size: 20px;
  overflow: hidden;
  margin-top: 25px;
  color:black;
  background-color: #222222;
  cursor:pointer;
}


.email {
display:none !important;
}

.social{
  display:none;
}

.phone {
display:none !important;
}


ul li a {
  text-decoration: none;
  font-family: oswald;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  color: rgb(14, 14, 14);
  font-weight: 500;
  transition: all 0.5s ease 0s;
  width: 768px;
}

.mainmenuitem {
  display: none;
  float: left;
  margin-left: -18px;
}


ul.submenu li {
  color: rgb(51, 51, 51);
  float: none;
}

ul.submenu{
  width:100%;
  background-color: white;
    transform: scaley(0);
    transition: 0.3s;
    transform-origin: top;
    display: block;
}

ul.submenu a {
  padding: 10px;
  display:block;
  transform: translateX(-10px);
}

ul.mainmenuitem li:hover ul.submenu {
 display: none;
}

.mainmenuitem li {
  position: static;
  border-bottom: 1px solid rgb(119, 118, 118) !important;
}


.phone a i{
  display:block !important;
  width:20px;
  float:right;
}

.homeslider{
    margin-top: 70px;
    width:100%;
    background-size: cover;
    position: relative;
    z-index: 999;
    opacity: 1;
}

.slidercontent h1 {
  font-size: 15px;
  width: 100% !important;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
}

.slidercontent p{
  display: none;
}

button#sliderWorkbutton {
  background: #ff5200;
  color: white;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
}

.slidernav {
  width: 70px;
  margin: auto;
  padding-bottom: 40px;
}

.sboxwarpper {
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}


.singlebox {
  width: 60%;
  margin-bottom: 15px !important;
  background-color: rgb(255, 251, 251);
  float: left;
  transition: 0.4s;
}

.singlebox-2 {
  width: 60%;
  margin-bottom: 15px;
  float: left;
  background-color: #fb5200;
}



.teamimage {
  width: 100%;
  float: left;
}



.teamdetails {
  width: 100%;
  float: right;
}

.iconwrapper {
  width: 300px;
  margin: auto;
}


.sectitle {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}

.sectitle p {
  width: 415px;
  margin: auto;
  line-height: 25px;
  font-size: 20px;
  color: #777;
}



.singlepost {
  width: 100%;
  overflow: hidden;
  float: left;
}




.tablelist {
  display: grid;
  place-items: center;
}




.leftimage {
  background: url(icons/s02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  overflow: hidden;
  height: 306px;
}


.rightcontent {
  width: 100%;
  overflow: hidden;
  background-color: #222222;
  color: white;
}



.singleperson {
  width: 95%;
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.socialicons {
  left: 33%;
}

.joinbtn {
  margin-top: 86px;
  margin-left: 10px;
}




.projectswrapper {
  overflow: hidden;
  width: 100%;
  column-count: 1;
}

.singleproject {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}




.singlenews {
  width: 96%;
}




.fbox {
  overflow: hidden;
  width: 95%;
}

.rposttitle {
  width: 333px;
  float: right;
  margin-top: 0px;
}

.fpost {
  width: 64px;
}


.copyrightmenu {
  width: 100%;
}


.footermenu {
  align-items: center;
  place-items: center;
  display: grid;
}
 

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  .primarywrapper {
    width: 50% !important;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: black;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}






.show-link {
  visibility: visible;
  z-index: 100;
}





.menuitem{
  display: block;
}


.homesliderhide{
  margin-top: 308px;
}


.showsubMenu{
  display:block !important;
  visibility: visible;
}


}